<div ibmGrid class="bx--grid--full-width dashboard">
  <div ibmRow style="margin-bottom: 1rem;">
    <div ibmCol [columnNumbers]="{ lg: '16' }">
      <p>This is a dashboard page, the dashboard page uses a banner that act as a part of the page showing Breadcrumbs and a Heading.</p>
    </div>
  </div>
  <div ibmRow>
    <div ibmCol [columnNumbers]="{ lg: 4}">
      <app-data-time-select label="inline small light round-sm" [inline]="true" round="sm" size="sm" theme="light"></app-data-time-select>
    </div>
    <div ibmCol [columnNumbers]="{ lg: 4 }">
      <app-data-time-select label="inline medium light round-md" [inline]="true" round="md" size="md" theme="light"></app-data-time-select>
    </div>
    <div ibmCol [columnNumbers]="{ lg: 4 }">
      <app-data-time-select label="inline large light round-lg" [inline]="true" round="lg" size="lg" theme="light"></app-data-time-select>
    </div>
    <div ibmCol [columnNumbers]="{ lg: 4 }">
      <app-data-time-select label="inline xlarge light round-xl" [inline]="true" round="xl" size="xl" theme="light"></app-data-time-select>
    </div>
  </div>
</div>
