<div ibmGrid class="bx--grid--full-width dashboard">
  <div ibmRow>
    <div ibmCol [columnNumbers]="{ lg: '16' }">
      <p>This is a dashboard page, the dashboard page uses a banner that act as a part of the page showing Breadcrumbs and a Heading.</p>
    </div>
  </div>
  <div ibmRow>
    <div ibmCol class="bx--offset-lg-4" [columnNumbers]="{ lg: 4 }">
      <app-data-time-picker label="Picker"></app-data-time-picker>
    </div>
  </div>
  <div ibmRow>
    <div ibmCol class="bx--offset-lg-4" [columnNumbers]="{ lg: 4 }">
      <app-data-time-select label="Select" [inline]="true"></app-data-time-select>
    </div>
  </div>
</div>
