<div ibmGrid class="bx--grid--full-width shell-banner">
  <div ibmRow>
    <div ibmCol [columnNumbers]="{'lg': 16}">
      <ibm-breadcrumb [noTrailingSlash]="noTrailingSlash">
        <ibm-breadcrumb-item href="#1">
          Breadcrumb 1
        </ibm-breadcrumb-item>
        <ibm-breadcrumb-item href="#2">
          Breadcrumb 2
        </ibm-breadcrumb-item>
        <ibm-breadcrumb-item href="#3">
          Breadcrumb 3
        </ibm-breadcrumb-item>
      </ibm-breadcrumb>
    </div>
  </div>
  <div ibmRow>
    <div ibmCol [columnNumbers]="{'lg': 16}">
      <h1 class="shell-banner__heading">Heading</h1>
    </div>
  </div>
</div>
