@import '~carbon-components/scss/globals/scss/vars';
@import '~carbon-components/scss/globals/scss/typography';

.ccc-card {
  padding: $spacing-05;
  background-color: $ui-01;
}

.ccc-card--condense-border {
  padding: $spacing-03;
}

.ccc-card--narrow-border {
  padding: $spacing-04;
}

// Header

.ccc-card__header {
  margin-bottom: $spacing-05;
}

.ccc-card__header > .bx--col-lg-16 {
  display: flex;
  justify-content: space-between;
}

.ccc-card__header .ccc-card__heading {
  @include carbon--type-style('heading-01');
}

.ccc-card__header::ng-deep ibm-tag {
  margin-top: -$spacing-01;
  margin-right: -$spacing-01;
  height: $spacing-05;
}

// Accent

// The borders of the card allowed to get accentuated
$ccc-card--accent-borders: top, left, bottom;

// The sizes of the accentuation. Levels are inspired by Carbon's grid breakpoints in
// ('~carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint')
$ccc-card--accent-sizes: (
  sm: (
    accent: $spacing-01,
  ),
  md: (
    accent: $spacing-02,
  ),
  lg: (
    accent: $spacing-03,
  ),
  xlg: (
    accent: $spacing-04,
  ),
  max: (
    accent: $spacing-05,
  ),
);

// The colors of the accentuation. Colors are inspired by Carbon's Tag's background colors in
// ('~carbon-components/scss/components/tag/tokens')
$ccc-card--accent-colors: (
  red: $carbon__red-60,
  magenta: $carbon__magenta-60,
  purple: $carbon__purple-60,
  blue: $carbon__blue-60,
  cyan: $carbon__cyan-60,
  teal: $carbon__teal-60,
  green: $carbon__green-60,
  gray: $carbon__gray-80,
  cool-gray: $carbon__cool-gray-60,
  warm-gray: $carbon__warm-gray-60,
);

// Makes the classes that doesn't specify the color, using Blue 60 by default.
@mixin ccc-card--accent($border, $size) {
  border-#{$border}: $size solid $carbon__blue-60;
}

@each $border in $ccc-card--accent-borders {
  @each $size in map-keys($ccc-card--accent-sizes) {
    $sizes: map-get($ccc-card--accent-sizes, $size);
    .ccc-card--accent-#{$border}-#{$size} {
      @include ccc-card--accent($border, map-get($sizes, accent));
    }
  }
}

// Makes the classes that uses one of the Tag's color
@mixin ccc-card--accent-color($border, $size, $color) {
  border-#{$border}: $size solid $color;
}

@each $border in $ccc-card--accent-borders {
  @each $size in map-keys($ccc-card--accent-sizes) {
    $sizes: map-get($ccc-card--accent-sizes, $size);
    @each $color in map-keys($ccc-card--accent-colors) {
      .ccc-card--accent-#{$border}-#{$size}-#{'' + $color} {
        @include ccc-card--accent-color($border, map-get($sizes, accent), map-get($ccc-card--accent-colors, $color));
      }
    }
  }
}

// Theme

.ccc-card--theme-light {
  background-color: $ui-02;
}

// Aspect ratio
//
// Carbon Design System has defined aspect ratio for Grid:
//   'carbon-components/scss/globals/scss/vendor/@carbon/grid/scss/grid'
// But we use a different approach:
//   https://ratiobuddy.com/
// Which leverages the host element as the outer

// https://carbondesignsystem.com/guidelines/2x-grid/overview/#aspect-ratio
// 1:1, 2:1, 2:3, 3:2, 4:3, 16:9
$ccc-card--aspect-ratios: (
  '1x1': (1, 1),
  '2x1': (2, 1),
  '1x2': (1, 2),
  '2x3': (2, 3),
  '3x2': (3, 2),
  '4x3': (4, 3),
  '3x4': (3, 4),
  '16x9': (16, 9),
  '9x16': (9, 16),
  'golden-horizontal': (1.618, 1),
  'golden-vertical': (1, 1.618),
);

:host[class*='ccc-card--aspect-ratio'] {
  position: relative;
}

@each $aspect-ratio in map-keys($ccc-card--aspect-ratios){
  $width: nth(map-get($ccc-card--aspect-ratios, $aspect-ratio), 1);
  $height: nth(map-get($ccc-card--aspect-ratios, $aspect-ratio), 2);

  :host.ccc-card--aspect-ratio-#{$aspect-ratio}:before {
    content: '';
    display: block;
    padding-top: percentage(($height / $width));
  }
}

:host[class*='ccc-card--aspect-ratio'] .ccc-card {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
