<div cdsGrid class="cds--grid cds--grid--nostalgic shell-banner">
  <div cdsRow>
    <div cdsCol [columnNumbers]="{ 'lg': 16 }">
      <cds-breadcrumb [noTrailingSlash]="false">
        <cds-breadcrumb-item href="#1">
          Breadcrumb 1
        </cds-breadcrumb-item>
        <cds-breadcrumb-item href="#2">
          Breadcrumb 2
        </cds-breadcrumb-item>
        <cds-breadcrumb-item href="#3">
          Breadcrumb 3
        </cds-breadcrumb-item>
      </cds-breadcrumb>
    </div>
  </div>
  <div cdsRow>
    <div cdsCol [columnNumbers]="{'lg': 16}">
      <h1 class="shell-banner__heading">Welcome</h1>
      <p>The Carbon Angular V11 is a project that finds and collects (faithfully) best-practices for Angular projects using Carbon V11.</p>
    </div>
  </div>
</div>
