// For resolving mini-units()
@use '@carbon/styles/scss/components/ui-shell/functions' as *;
// For resolveing $layer-01
@use '@carbon/themes/scss/generated/tokens' as *;

@mixin banner-background() {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $layer-01;
    z-index: -1;
  }
}

.shell-banner {
  padding: mini-units(4) mini-units(4) 0 mini-units(4);
  margin-bottom: mini-units(6);

  @include banner-background();
}
