<div ibmGrid class="bx--grid--full-width components">
  <div ibmRow>
    <div ibmCol [columnNumbers]="{ 'lg': 4 }">
    </div>
    <div ibmCol [columnNumbers]="{ 'lg': 2 }">
      <app-card [heading]="'Fire'"
                [accent]="{ border: 'top', size: 'sm', color: 'magenta' }"
                [theme]="'light'">
        <svg ibmIconFire heading size="16"></svg>
      </app-card>
    </div>
    <div ibmCol [columnNumbers]="{ 'lg': 2 }">
      <app-kpi-card [kpi]="kpi"></app-kpi-card>
    </div>
    <div ibmCol [columnNumbers]="{ 'lg': 2 }"></div>
    <div ibmCol [columnNumbers]="{ 'lg': 2 }"></div>
    <div ibmCol [columnNumbers]="{ 'lg': 2 }"></div>
  </div>
</div>
