<div ibmGrid class="bx--grid--full-width components">
  <div ibmRow>
    <div ibmCol [columnNumbers]="{ 'lg': 4 }">
      <ccc-card [heading]="'Fire'"
                [accent]="{ border: 'top', size: 'sm', color: 'magenta' }"
                [aspectRatio]="{ golden: 'horizontal' }"
                [theme]="'light'">
        <svg ibmIconFire heading size="16"></svg>
      </ccc-card>
    </div>
    <div ibmCol [columnNumbers]="{ 'lg': 2 }">
      <app-kpi-card [kpi]="kpi"></app-kpi-card>
    </div>
    <div ibmCol [columnNumbers]="{ 'lg': 2 }"></div>
    <div ibmCol [columnNumbers]="{ 'lg': 2 }"></div>
    <div ibmCol [columnNumbers]="{ 'lg': 2 }"></div>
    <div ibmCol [columnNumbers]="{ 'lg': 2 }"></div>
  </div>
  <div imbRow>
    <div ibmCol [columnNumbers]="{ 'lg': 4 }">
      <ccc-carbon-components-custom></ccc-carbon-components-custom>
    </div>
  </div>
</div>
