<cds-header brand="app-patterns" name="Carbon Angular V11" class="shell-header" [route]="['/']">
  <cds-hamburger [active]="hamburgerActivated" (selected)="toggleHamburger($event)"></cds-hamburger>
  <cds-header-navigation>
    <cds-header-item [route]="['/home']">Home</cds-header-item>
    <cds-header-item [route]="['/repos']">Repos</cds-header-item>
  </cds-header-navigation>
  <cds-header-global>
    <!-- 
      We use the ibmIcon directive with the name of the icon & size. IconService will do the rest!
      Icons MUST be registered.
    -->
    <!--
      ryan131:
      Turns out you can also use the cdsIcon directive.
      Resources for getting the @carbon/icons to work for Carbon Components Angular V11:
          https://github.com/carbon-design-system/carbon-icons-angular given this approach
          https://www.npmjs.com/package/@carbon/icons the library that we use right now
          https://carbon-elements.netlify.app/icons/examples/preview/ the icon library
    -->
    <cds-header-action title="notification">
      <svg ibmIcon="notification" size="20"></svg>
    </cds-header-action>
    <cds-header-action title="action">
      <svg cdsIcon="user--avatar" size="20"></svg>
    </cds-header-action>
    <cds-header-action title="action">
      <svg cdsIcon="apps" size="20"></svg>
    </cds-header-action>
  </cds-header-global>
</cds-header>
