<div class="bx--list-box__wrapper">
  <label class="bx--label" *ngIf="label" [for]="id" [ngClass]="{'bx--label--disabled': disabled}">{{label}}</label>
  <div class="bx--list-boxes">
    <div class="bx--list-box bx--list-box--head" [ngClass]="{
      'bx--list-box--light': theme === 'light',
      'bx--list-box--inline': inline,
      'bx--list-box--sm': size === 'sm',
      'bx--list-box--lg': size === 'xl',
      'bx--list-box--disabled': disabled,
      'bx--list-box--warning': warn,
      'bx--list-box--expanded': dropdownOpen,
      'bx--skeleton': skeleton
    }">
      <svg ibmIconTime size="20"></svg>
    </div>
    <div #listbox class="bx--list-box" [ngClass]="{
      'bx--list-box--light': theme === 'light',
      'bx--list-box--inline': inline,
      'bx--list-box--sm': size === 'sm',
      'bx--list-box--lg': size === 'xl',
      'bx--list-box--disabled': disabled,
      'bx--list-box--warning': warn,
      'bx--list-box--expanded': dropdownOpen,
      'bx--skeleton': skeleton
    }">
      <button #dropdownButton class="bx--list-box__field" [ngClass]="{'a': dropdownOpen}"
        (click)="disabled ? $event.stopPropagation() : toggleDropdown()">

        <span class="bx--list-box__label">1 hour</span>
        <svg class="bx--dropdown__invalid-icon"
             *ngIf="!warn && invalid" ibmIconWarningFilled size="16">
        </svg>
        <svg class="bx--list-box__invalid-icon bx--list-box__invalid-icon--warning"
             *ngIf="!invalid && warn" ibmIconWarningAltFilled size="16">
        </svg>
        <span class="bx--list-box__menu-icon" [ngClass]="{'bx--list-box__menu-icon--open': dropdownOpen }">
          <svg *ngIf="!skeleton" ibmIconChevronDown size="16"></svg>
        </span>
      </button>
      <div #dropdownMenu>
        <ul tabindex="-1" #listboxMenu class="bx--list-box__menu" *ngIf="dropdownOpen">
          <li><button ibmButton="primary">5 m</button></li>
        </ul>
      </div>
    </div>
    <div class="bx--list-box bx--list-box--action" [ngClass]="{
      'bx--list-box--light': theme === 'light',
      'bx--list-box--inline': inline,
      'bx--list-box--sm': size === 'sm',
      'bx--list-box--lg': size === 'xl',
      'bx--list-box--disabled': disabled,
      'bx--list-box--warning': warn,
      'bx--list-box--expanded': dropdownOpen,
      'bx--skeleton': skeleton
    }">
      <button ibmButton="tertiary" [iconOnly]="true" size="sm" (click)="togglePause()">
        <ng-container *ngIf="paused">
          <svg class="bx--btn__icon" ibmIconPlay size="20"></svg>
          <span class="bx--assistive-text">Pause Live</span>
        </ng-container>
        <ng-container *ngIf="!paused">
          <svg class="bx--btn__icon" ibmIconPause size="20"></svg>
          <span class="bx--assistive-text">Resume Live</span>
        </ng-container>
      </button>
    </div>
  </div>
</div>
