<div cdsGrid class="cds--grid cds--grid--nostalgic home">
  <div cdsRow>
    <div cdsCol [columnNumbers]="{ lg: '16' }">
      <h1>Welcome</h1>
      <p>The Carbon Angular (V10) is a project that finds and collects best practices (hopefully) for Angular projects using Carbon V10.</p>
      <h4 style="margin-top: 2.5rem">Collection:</h4>
      <ol>
        <li>Style initialization</li>
        <li>UI Shell</li>
        <li>Carbon-style top banner</li>
        <li>Carbon-style top banner w/ navigation</li>
        <li>Optional common components by route</li>
      </ol>
    </div>
  </div>
</div>
